.account_bg_white {
  background-color: #ffffff;
  float: left;
  width: 100%;
  transition: all 0.8s ease;

  .acount__image {
    background-image: url("../../assets/images/home/par008.jpg");
    background-position: center center;
    background-size: cover;
    width: 100%;
    float: left;

    .acount__image_alpha_3 {
      background-color: rgba(67, 74, 84, 0.3);
      width: 100%;
      float: left;

      .acount__image_clearfix {
        width: 100%;
        margin: auto;
        padding: 0;

        .acount__image_height_110 {
          height: 110px;
          width: 100%;
          float: left;
        }

        .acount__image_aligen {
          box-sizing: border-box;
          padding: 15px;
          text-align: center;
          width: 100%;
          float: left;

          .acount__image_font_size_55 {
            font-size: 55px;
            line-height: 55px;
            color: #fff !important;
            font-family: 'Quicksand', sans-serif;
            margin: 0;
            padding: 0;
            font-weight: normal;
            letter-spacing: 2px;
          }
        }
      }
    }
  }

  .registration__wrap {
    width: 100%;
    margin: auto;
    max-width: 525px;
    overflow: hidden;
    background: #318e9e;
    padding: 50px 0 135px;

    .sign_up_htm{
      width: 100%;

      .group{
        width: 80%;
        margin: auto;

        .label{
          color: blanchedalmond;
          text-transform: uppercase;
          display: flex;
          margin-bottom: 10px;
          font-weight: normal;
          font-family: 'Lato', sans-serif;
        }
        .input{
          border: none;
          width: 100%;
          height: 40px;
          font-size: 16px;
          padding-left: 10px;
          background-color: rgba(245, 249, 247, 0.4);
          border-radius: 50px;
          outline: none;
        }

        .button{
          width: 100%;
          border: none;
          height: 40px;
          border-radius: 50px;
          background-color: green;
          text-transform: uppercase;
          color: aliceblue;
          font-size: 20px;
          margin-top: 20px;
          &:active{
            background-color: red;
          }
        }

        .valid{
          color: red;
          padding: 5px 10px;
          font-weight: lighter;
          font-family: 'Lato', sans-serif;
        }
      }
    }
  }
}
