*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@import "home.scss";
@import "about.scss";
@import "single.scss";
@import "account.scss";
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import '~react-day-picker/lib/style.css';
@import '~react-input-range/lib/css/index.css';
@import "fonts.css";
//@import "hotel.css";
//@import "hotell.css";
//@import "hotelll.css";
//@import "marina.css";
//@import "stylend.css";